@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&family=Viaoda+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    font-family: 'Viaodo Libre', 'Vesper Libre', sans-serif;
    background-color: aqua;
    background-image: url("../images/backgrounds/blue.svg");
    background-position: top center;
    background-repeat: repeat;
}
  
.weather-details {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
  }
 
.main-details {
    flex: 1 1 100%;
    padding: 2.4vh 1.4vw 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* header formatting */
.header {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 5px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.6)
  /* text-decoration: underline; */
}

/* weathere results from the api, formatting and display parameters */
.city {
    color: #FFF;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6)
}

.date {
    color: #FFF;
    font-size: 1.5em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6)
}

.temp {
    color:#FFF;
    font-size: 6em;
    font-weight: 900;
    margin-top: 1vh;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6)
}

.temp span {
    font-weight: 500;
}

.weather {
    color: #FFF;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 1.5vh;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.hi-low {
    color: #FFF;
    font-size: 1.5em;
    font-weight: 500;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.joke {
  color: #FFF;
  font-size: 1.5em;
  font-weight: 500;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  margin-top: 6vh;
}

  /* search bar formatting */
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 0.8vw 1.5vh;
  }

.searchbar input {
      width: 30vw;
      padding: 10px 15px;
      border: none;
      outline: none;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 16px 0px 16px 0px;
      border-bottom: 3px solid #3d3d3c;
      color: #202020;
      font-size: 1.25em;
      font-weight: 300;
      transition: 0.2s ease-out;
  }

.searchbar input:focus {
      background-color: rgba(255, 255, 255, 0.6);
  }

.searchbar button[type="submit"] {
    width: 5.3vw;
    height: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    background-color:  rgba(255, 255, 255, 0.007);
    color: white;
    font-size: 1.8em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    padding-left: 1vw;
  }

  /* media styles for standard enterprise tablets */
@media screen and (max-width:800px) {
.searchbar input {
  width: 50vw;
}}